/*Computer*/
@media all and (min-width : 769px){
html{
    text-align: center;
}

/*Animation photo*/

.bg{
    border-radius: 50%;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 100px auto 0;
    box-shadow: 0 0 0 0 rgb(138, 24, 24);
    animation: pulse 1.3s infinite;
}

@keyframes pulse {
    to{
        box-shadow: 0 0 0 18px rgba(211, 41, 41, 0.096);
    }    
}

/*Fin animation photo*/

/*Flex*/

.flex{
    display: flex;
    justify-content: center;
}

/*Menu déroulant*/

.déroulant p {
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#trolarge{
    width: 1250px;
}

.déroulant:hover p {
    height: auto;
    text-align: center;
    animation: apparition 0.8s ease-out;
}

.déroulant ul {
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.déroulant:hover ul {
    height: auto;
    text-align: center;
    animation: apparition 0.8s ease-out;
}

@keyframes apparition{
    from{
        opacity:0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*Fin menu déroulant*/

a:hover{
    color :rgb(37, 155, 155)
}

i:hover{
    color :rgb(37, 155, 155)
}

a:visited {
    color :rgb(0, 0, 0)
}

h1{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 100px / 120px;
    position: relative;
    left: 41.3%;
    width: 330px;
    margin-top: 50px;
}

h2{
    text-decoration: overline;
}

#compagnon{
    position: fixed;
    width: 150px;
    top: 50px;
    right: 30px;
}

body {
	background: #EDEDED;
	color: #af3d4e;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social i {
	padding: 10px;
    font-size: 3em;
    text-align: center;
}
/*Mot pour Taille*/
#large{
    position :absolute;
    left : 10px;
    font-size: 12px;
    border-top : 1px black solid;
    border-bottom : 1px black solid;
}

#medium{
    display:none;
}
#small{
    display:none;
}
}
/*Smartphone*/
@media all and (max-width : 300px){
    html{
        text-align: center;
    }
    body {
        color : red;
        font-size: 15px;
    }
    #compagnon{
        position: fixed;
        width: 150px;
        top: 50px;
        right: 30px;
    }
    #medium{
        display:none;
    }
    #large{
        display:none;
    }
    #small{
        position :absolute;
        left : 10px;
        font-size: 12px;
        border-top : 1px black solid;
        border-bottom : 1px black solid;
    }
}
/*Tablette*/
@media all and (min-width : 301px) and (max-width : 768px){
    html{
        text-align: center;
    }
    body{
        color : green;
        font-size: 15px;
    }
    #compagnon{
        position: fixed;
        width: 150px;
        top: 50px;
        right: 30px;
    }
    #small{
        display:none;
    }
    #large{
        display:none;
    }
    #medium{
        position :absolute;
        left : 10px;
        font-size: 12px;
        border-top : 1px black solid;
        border-bottom : 1px black solid;
    }
}